.error-container {
   /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    margin-top: 100px;
  }
  .header{
  position: relative;
  width: auto;
  bottom:90px

  }
  .error-container h1 {
    font-size: 36px;
    color: #ff0000;
  }
  
  .error-container p {
    font-size: 18px;
    color: #666;
    text-align: center;
  }
  